charset="utf-8" * {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 100%;
    font-weight: 3.4;
}
body{background-image: url(../img/bg_new.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;}
p {}

.clear {
    clear: both;
}

.main {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: black;
}

.logo {
    width: 100%;
    margin: auto;
}

.menu {
    width: 100%;
    height: 55px;
    margin: auto;
    background-image: url(../img/bg_menu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Tahoma, sans-serif;
    margin-bottom: 5px;
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.menu ul {
    text-align: center;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    width: 12%;
    line-height: 53px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    padding: 0% 2%;
}

.menu a:hover {
    color: yellow;
}

.menu li:hover .list-menu {
    display: block;
}

.list-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 42px;
    background-color: whitesmoke;
    border-bottom: 3px solid darkred;

}

.list-menu li {
    position: fixed;
    left: 0;
    display: grid !important;
    line-height: 53px;
    width: auto !important;
    text-align: center !important;
    padding: 0px 1% !important;
}

.list-menu li:hover {}

.list-menu li:hover a {
    color: firebrick !important;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: wavy !important;
}

.list-menu li a {
    width: 100% !important;
    font-size: 1em !important;
    text-transform: none !important;
    padding: 0 !important;
    color: black !important;
    font-weight: 590 !important;
}

.locphim {
    width: 100%;
    height: 77px;
    background-color: blanchedalmond;
    padding-left: 4%;
}

.phimsapchieu {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    background-color: #facd8a;
    background-image: url(../img/bg_new.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tdphim {
    width: 100%;
    height: 44px;
    font-family: cursive, sans-serif;
    border-bottom: 5px solid red;
    background: white;
}

.tdphim p {
    width: 20%;
    height: 44px;
    padding-left: 10%;
    font-size: 2em;
    font-weight: 500;
    background-color: red;
    color: white;
    border: solid 4px red;
    -moz-border-radius-topleft: 18px;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 18px;
    -webkit-border-top-right-radius: 16px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-left-radius: 18px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0px;
}

.con1 {
    width: 30%;
    height:;
}

.con1 img {
    width: 100%;
    height: 100%;
}

.top {
    width: 70%;
    display: inline-block;
    margin: auto 14%;
    font-family: Tahoma, sans-serif;
    border-bottom: 3px solid white;
    background-color: darksalmon;
    padding: 1%;
    margin-top: 5px;
}

.trai {
    width: 58%;
    float: left;
}

.trai img {
    width: 94%;
    margin: 1%;
    border: 5px solid white;
}

.trai img:hover {}

.trai h2 {
    text-align: justify;
}

.trai p {
    width: 99%;
    text-align: justify;
}

.trai a {
    text-decoration: none;
}

.trai a:hover {
    color: firebrick;
}

.trai span {
    font-weight: 800;
    text-decoration: underline;
}

.phai {
    width: 40%;
    float: right;
    margin-left: 2%;
}

.tin1 {
    width: 100%;
    margin-top: 1.5%;
    line-height: 20px;
    text-align: justify;
}

.tin1 img {
    width: 87%;
    height: 40%;
    margin: auto;
    border: 5px solid white;
}

.tin1 a {
    text-decoration: none;
    font-weight: 700;
}

.tin1 a:hover {
    color: blueviolet;
}

.tin1 h3 {
    text-align: justify;
    width: 90%;
}

.tin1 p {
    width: 90%;
    text-align: justify;
}

.mid {
    width: 70%;
    display: inline-block;
    margin: auto 14%;
    font-family: Tahoma, sans-serif;
    background-color: darkseagreen;
    padding: 1%;
}

.tin2 {
    width: 48%;
    float: left;
    margin: 1%;
}

.tin2 img {
    width: ;
    border: 5px solid white;
    margin-top: 1%;
}

.tin2 p {
    font-family: monospace, serif;
    font-weight: 900;
}

.tin2 a {
    text-decoration: none;
}

.tin2 a:hover {
    color: forestgreen;
}

.bot1 {
    width: 70%;
    display: inline-block;
    margin: auto 14%;
    background-color: burlywood;
    padding: 1%;
    overflow: auto;
}


.tin3 {
    width: 48%;
    float: left;
    font-family: monospace, sans-serif;
    margin-right: 2%;
}

.tin3 h3 {
    font-size: 1.5em;
}

.tin3 img {
    width: 98%;
    margin: 1%;
    border: 5px solid white;
}

.tin3 a {
    text-decoration: none;
    font-weight: 700;
}

.tin3 a:hover {
    color: black;
    text-decoration: underline;
}

.bot {
    width: 70%;
    display: inline-block;
    margin: auto 14%;
    background-color: darkkhaki;
    padding: 1%;
}

.tin4 {
    width: 29%;
    height:450px;
    float: left;
    display: inline-block;
    margin: 1%;
    text-align: justify;
    font-family: monospace, sans-serif;
}

.tin4 img {
    width: 100%;
    border: 3px solid white;
}

.tin4 h3 {
    font-size: 1.4em;
}

.tin4 p {
    text-align: justify;
    padding: 0 10px;
    word-spacing: normal;
}

.tin4 span {
    font-family: ;
    font-weight: 700;
}

.tin4 a:hover {
    color: darkslategray;
    text-decoration: inherit;
}

.tin4 a {
    text-decoration: none;
}

.ket {
    width: 70%;
    margin: auto 15%;
    display: inline-block;
}

.t1 {
    width: 30%;
    float: left;
    height: 33px;
    background-color: dimgray;
    text-align: right;
    line-height: 33px;
    color: white;
    padding-right: 10%;
    font-weight: 800;
}

.t2 {
    width: 50%;
    float: left;
    height: 33px;
    background-color: chocolate;
    font-weight: 800;
    line-height: 33px;
    color: aliceblue;
    padding-left: 10%;
}

.t2 a {
    color: aliceblue;
}

.foter {
    display: inline-block;
    width: 100%;
    font-family: Tahoma, sans-serif;
    background-color: burlywood;
}

.foter ul {
    width: 100%;
    margin: auto;
    list-style: none;
    text-align: center;
    height: auto;
    background-color: floralwhite;
}

.foter ul li {
    display: inline-block;
    line-height: 33px;
    width: 14%;
}

.foter ul li a {
    text-decoration: none;
    padding: 0 8%;
    text-transform: uppercase;
    font-family: Tahoma, sans-serif;
    font-weight: 600;
}

.foter ul li:hover {
    background-color: burlywood;
}

.logo1 {
    width: auto;
    float: left;
}

.logo1 img {
    margin: 5%;
}

.ketnoi {
    float: left;
    width: auto;
    overflow: hidden;
    padding-left: 4%;
}

.ketnoi img {
    transition: all 0.7s ease;
}

.ketnoi img:hover {
    transform: rotate(720deg);
}

.cskh {
    float: left;
    width: auto;
    text-align: left;
    padding-left: 7%;
    padding-right: 2%;
}

.cskh2 {
    width: 19%;
    text-align: justify;
    height: 300px;
    text-align: left;
    float: left;
}